* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #946ABB;
  background: #F8F0E5;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

a {
    border: none;
    background: #946ABB;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background: #7e58a0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#gif {
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#gif:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0px 0px 40px 10px #7e58a0;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
